:root {
    --ff-monserat: 'Montserrat', sans-serif;
    --ff-opensans: 'Open Sans', sans-serif;

    /* small screen font-sizes */

    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.35rem;
    --fs-600: 1.75rem;
    --fs-900: 2.125rem;

    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #a2a2a2;
    --clr-neutral-300: #eef1f6;
    --clr-neutral-400: #BDB2A9;
    --clr-neutral-700: #2c2d2d;
    --clr-neutral-800: #282929;
    --clr-neutral-900: #0A0A0C;

    --clr-primary-300: #c79864;
    --clr-primary-400: #cc7f39;

    --br: 1rem;

}


@media (min-width: 40em) {
    :root {
        --fs-500: 1.75rem;
        --fs-600: 2.125rem;
        --fs-900: 4.25rem;
    }
}

/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1;
}

body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
figure {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    line-height: 1.4;
    color: var(--clr-neutral-200);
    font-family: var(--ff-opensans);
    font-size: var(--fs-200);
    font-weight: var(--fw-400);
    line-height: 1.8;
    background-color: var(--clr-neutral-800);
    /* padding: 1.5rem; */
}

/* Typography */

h1,
h2,
h3,
h4 {
    color: var(--clr-neutral-100);
    font-family: var(--ff-monserat);
    line-height: 1;
}

.text-xl {
    font-size: 3.3rem;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-100);
}

.btn {
    display: inline-block;
    color: var(--clr-neutral-100);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 100px;
    padding: 1em 2em;
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
    cursor: pointer;
}

.current {
    display: inline-block;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-600);
    letter-spacing: 0.02em;
    padding: 0.3em 1.2em;
    border-radius: 100px;
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
}

/* General Layout */

.container {
    max-width: 70rem;
    margin: 0 auto;
    width: 82%;
}

.flow-content > * + * {
    margin-top: var(--flow-spacer, 1rem);
}

.flow-content--large > * + * {
    margin-top: var(--flow-spacer, 2rem);
}

.split {
    display: flex;
    flex-direction: column;
}

section,
.section {
    padding: 5rem 0;
}

/* Components */

.section-title {
    margin-bottom: 2.5em;
}

 .main-title {
    font-size: var(--fs-600);
    letter-spacing: .7px;
}

.sub-title{
    position: relative;
    padding: 0 0 5px 40px;
    letter-spacing: .7px;
    font-size: var(--fs-200);
    font-weight: var(--fw-600);
    text-transform: uppercase;
}


 .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 30px;
    height: 2px;
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400))
}

/* Navigation */
/* .main-nav {
    display: none;
} */

header {
    padding: 1rem 0;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(117, 116, 116, .4) 100%);
    border-bottom: 1px solid var(--clr-neutral-200);
    display: none;
}

.site-logo {
    font-size: var(--fs-600);
    font-family: var(--ff-monserat);
    font-weight: var(--fw-700);
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
    background-clip: text;
    color: transparent;
}

#showcase {
    height: 100vh;
    background: url(../images/home1.jpg) center center no-repeat fixed;
    padding: 0;
}


.showcase__overlay {
    height: 100%;
    justify-content: center;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.65) 0%, rgba(117, 116, 116, .4) 100%)
}

/* About Section */

.about__img {
    width: 50%;
    margin: 0 auto;
    border: 7px solid var(--clr-neutral-700);
    box-shadow: 0px 0px 10px 2px rgb(36, 36, 36);
}

.about__info p {
    color: var(--clr-neutral-200);
}

.about__details h4 {
    font-size: var(--fs-600);
    margin-bottom: 1em;
}

.about__skills {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 1.2rem;
    text-align: center;
    color: var(--clr-neutral-100);
}

.about__skill {
    width: 6.5rem;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background: var(--clr-neutral-800);
    box-shadow: 0px 0px 10px 2px rgb(36, 36, 36);
}

.about__details i,
.about__details span {
    display: block;
}

.about__details i {
    font-size: 2rem;
}

/* Services Section */

#services {
    background: var(--clr-neutral-700);
}

#services .services__list {
    --flow-spacer: 2em;
}

.services__box {
    /* --flow-spacer: 0.7em; */
    background: var(--clr-neutral-800);
    text-align: center;
    padding: 1.5rem 1rem;
    border-radius: 5px;
}

.services__box i {
    color: var(--clr-primary-300);
    padding: 1rem 0 2rem 0;
}

.services__box h4 {
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
    margin-bottom: 0.5em;
    
}

/* Portfolio Section */

.portfolio__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 2px rgb(36, 36, 36);
    padding: 0.5rem 0.2rem;
}

 .portfolio__navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


.portfolio__navlink {
    text-transform: uppercase;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    gap: 2rem;
}

.portfolio__box {
    position: relative;
   
}

.portfolio__box .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(42, 46, 49, .95);
    outline: solid 1px red;
}

figcaption{
    margin-top: 40%;
}

/* Contact Section */

#contact {
    background: var(--clr-neutral-700);
}

.contact__content {
    --flow-spacer: 2.5em;
}

#contact form {
    --flow-spacer : 2.5em;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px rgb(36, 36, 36);
}

#contact form > div {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
}

#contact  textarea {
    resize: none;
    width: 100%;
    height: 8rem;
}

#contact  input,
#contact  textarea {
    width: 100%;
    padding: 0.8em 1em;
    font-size: inherit;
    color: var(--clr-neutral-200);
    border: solid 0.5px var(--clr-neutral-200);
    outline: none;
    background: transparent;
}

#contact  input:focus,
#contact  textarea:focus {
    border: solid 1px var(--clr-primary-300);
    outline: none;
}

#contact  button {
    align-self: start;
}

::placeholder {
    opacity: 1;
}

.contact__box {
    text-align: center;
    padding: 1.5rem 0;
    margin-left: 55px;
    box-shadow: 0px 0px 15px 2px rgb(36, 36, 36);
    border-left: 2px solid;
    border-image: 1 linear-gradient(to top, var(--clr-primary-300), var(--clr-primary-400));
    position: relative;
}

.contact__box h4 {
    margin-bottom: 0.5rem;
}

.contact__box .icon-box {
    position: absolute;
    left: -53px;
    top: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: var(--fs-300);
    color: var(--clr-neutral-100);
    border-radius: 100%;
    background: var(--clr-primary-300);
}

.contact__box::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    left: -20px;
    top: 30px;
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
}

/* Main Footer */

.main-footer {
    padding: 2.5rem 0;
    text-align: center;
}

.footer__socials {
    display: flex; 
    justify-content: center;
}

.footer__socials a {
    display: inline-block;
    font-size: var(--fs-300);
    margin: 0 1em;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: none;
    border-radius: 100%;
    background: transparent;
}

.footer__socials a:hover,
.footer__socials a:focus {
    background: linear-gradient(to right, var(--clr-primary-300), var(--clr-primary-400));
}

.footer__copyright a {
    color: var(--clr-primary-300);
}

/* Large Screen */

@media (min-width: 50em) {
    .contact__content {
        display: flex;
        justify-content: space-between;
    }

    .contact-form {
        width: 60%;
    }

    .contact__details {
        width: 35%;
        padding: .5px;
    }
}